/* body{
padding: 0px;
font-family: Arial;
} */

.contenedor{
width:80%;
max-width:1000px;
margin:0 auto;
overflow:hidden;
position: relative;
}

@font-face{
font-family:fuente1;
src:url(FRABK.ttf);
}


#logo img{
	width:118px;
	height: 118px;
	float: left;
	margin-top: 10px;
	margin-left: 80px;
}

		
#Titulo {
	margin-top: 50px;
	color: #005883;
	font-family:fuente1;
	text-align: center;
	width: 50;
}
	

#sfc9j1q1ccz1wmsylqccbbaaex9gybn2te1 {

float: right;
}
	
	
	
body h{
padding: 0px;
font-family: Arial;
color: #F03;

}

header{
border: 1px solid White;
width: 100%;
height: 150px;
background: White;
margin: 0px auto;
}

#MemuPrincipal{
	background-color:#F47920;
	width: 100%;
	
}

#MemuPrincipal ul{
	
	list-style:none;
	margin:0;
	padding:0;
}

.#MemuPrincipal li a{
	
	background-color:#F47920;
	width: 100%;
	color: white;
	display:black;
	padding:10px 50px; 
	display: block;
	text-decoration: none;
    font-family: fuente1;
	
}

 
#MemuPrincipal ul li a {
	
	color: white;
	display:black;
	padding:10px 50px;
	display: block;
	text-decoration: none;
    font-family: fuente1;

}
 
 
#MemuPrincipal ul li a:hover {
	background-color:#B3B3B3;
		
}


.SubMenu li a{
	
	background-color:#F47920;
	width: 100%;
	color: white;
	display:black;
	padding:10px 50px; 
	display: block;
	text-decoration: none;
    font-family: fuente1;
}


.SubMenu > li {
	float:left;
}

.SubMenu li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.SubMenu li:hover >ul {
	display:block;
	background-color:#B3B3B3;
	cursor: #000;
	cursor:pointer;
}

.SubMenu{
	background-color:#F47920;
	width: 100%;
	
}

.SubMenu ul{
	
	list-style:none;
	margin:0;
	padding:0;
}
	


.SubMenu ul li a {
	
	color: white;
	display:black;
	padding:10px 50px;
	display: block;
	text-decoration: none;
    font-family: fuente1;
}

.SubMenu ul li a:hover {
	background-color:#B3B3B3;
	cursor: #000;
	cursor:pointer;
}


section{
	margin: 20px 0px 0px 0px;
	border-style: solid;
    border-width: 1px;
	margin-top:20px;
	width:68%;
	height:770px;
	float: right;
	background: #005883;
		
}

aside{
	margin: 20px 0px 0px 0px;
	border-style: solid;
    background: #F0B429;
	border-width: 1px;
    width:29%;
	height:770px;
	float: left;
}

#Video p{
	text-align:center;
	color:#005883;
	font-weight: bold;
	font-family: fuente1;
	padding: 5px;	
}

#wrapper{
	width: 700px;
	height: auto;
	margin: 0px auto;
}


#main{
	width: 85%;
	height: 300px;
	margin: 0px auto;
	overflow: hidden;
	
}

#wrapper #main ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 10s infinite;
	animation-direction: alternate;
	animation-timing-function: linear;

}

#wrapper #main ul li{
list-style: none;
width: 100%;
}

#wrapper #main img {
width: 595px; 
height: 300px;
} 

@keyframes cambio{

	0% {margin-left: 0;}
		20% {margin-left: 0;}

			25% {margin-left: -100%;}
				45% {margin-left: -100%;}

				50%{margin-left: -200%;}
				70%{margin-left: -200%;}

				75%{margin-left: -300%;}
				100%{margin-left: -300%;}
}

#objectivos{
	width:600px;
	margin:0px;
	padding:0px;
    font-family: helvertica;
/* 	min-height:100px; */
	background-color:red;
	margin: 20px 0px 0px 50px;
}

div.subapartado{
	width:600px;
	min-height:40px;

}

div.Titulo1{
	width:600px;
	height:40px;
	background: #005883;
	overflow: hidden;
	font-family: fuente1;
	font-weight: bold;
	font-size: 19px;

}

p.psrrafo1{
	margin:13px;
	color:white;
}

div.Info1{
	width:600px;
	height:0px;
	background-color:#43C7F4;
	font-size: 20px;
	font-family: fuente1;
	overflow: hidden;
}

p.Info1{
	margin:20px;
	text-align:justify;
	color:black;
	-webkit-transition: height 0.2s;
}

div.subapartado:hover div.Info1{
	height:120px;
} 

 #footer {
	border: 0px solid grey;
    margin: 880px 0px 80px 0px;
	border-style: solid;
	font-family: fuente1;
	font-size: 12px;	
	text-align: center;

} 

#boton{
	margin-left:230px;
	border: 2px solid #000;
	font-family: fuente1;
	font-size: 23px;
	padding:20px 20px 20px 20px;
	cursor: pointer;
	background-color:#F0B429;
	margin-top:590px;
    position:absolute;
	font-family: fuente1;
    border-radius:20px;		
}

#boton:hover{
	background-color:#43C7F4;

		
}



.miframe{
	position:absolute;
	margin-top:50px;
	
}



#Titulo_actividades p{
	text-align:center;
	color:white;
	font-weight: bold;
	font-family: fuente1;
    font-size:22px;
}	

div#Autores{
	text-align:center;
	font-weight: bold;
	font-family: fuente1;
    font-size:22px;
	margin:auto;
	margin-top:20px;
	width:100px;
	height:70px;
	color:white;
	
}


div#carnet{
	border-radius:20px;
	margin:auto;
	margin-top:20px;
	background-color:white;
	width:300px;
	height:200px;
	position:relative;
}


div#carnet_barra{
	border-radius:20px;
	background-color:#F0B429;
	width:40px;
	height:200px;
}
 
div #MinLogo{
	margin-top:5px;
	margin-right:10px;
	width:80px;
	height:60px;
	background: url(../img/logo.jpg)no-repeat; 
	background-size: cover;
    background-position: center;
	float:right;

}

div#carnet_foto{
	float:left;
	margin-top:5px;
	position:absolute;
	margin-left:50px;
	width:80px;
	height:80px;
	background: url(../img/DavidR.jpg)no-repeat; 
	background-size: cover;
	background-position: center;

}


div#carnet_foto2{
	float:left;
	margin-top:5px;
	position:absolute;
	margin-left:50px;
	width:80px;
	height:80px;
	background: url(../img/DJTV.jpg)no-repeat; 
	background-size: cover;
	background-position: center;

}






div#texto{
	right:0;
	margin-top:90px;
    margin-right:10px;
	width:158px;
	height:70px;
    position:absolute;

}


div#texto p{

	font-family: fuente1;
	font-size: 9px;
	text-align:right;
	margin:0;
	padding:0;
	font-weight: bold;
}

div#sellos{
	right:0;
	margin-top:160px;
    margin-right:10px;
	width:100px;
	height:40px;
    position:absolute;
    border-radius:20px;
    background: url(../img/sellos.jpg)no-repeat; 
	  background-size: cover;
  background-position: center;
}

.titulomulti{
	color: #e0840b;
	font-family:fuente1;
	text-align: center;
}


.bodymulti{
		color: #f1e5d4;
		font-family:fuente1;
		text-align: lift;
		border: 10px;
		font-size: 18px;
		
}

.tooltip img{
	width: 350px;
	box-shadow: 20px 20px 15px black;
}

.tooltip {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s, visibility 1s;
}

.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family:fuente1;
}

.hori{
	display: inline-block;
	font-family:fuente1;
}

.hori a{
	display: block;
	padding: 8px;
	color: white;
	background-color: gray;
	text-decoration: none;
}

.hori:hover a{
	background-color: black;
}

.hori:hover .tooltip{
	visibility: visible;
	opacity: 1;
}

#Titulo_actividades p{
	text-align:center;
	color:white;
	font-weight: bold;
	font-family: fuente1;
    font-size:22px;
}	
	

.titumulti{
	color: #e0840b;
	font-family:fuente1;
	text-align: center;

}

.titumulti2{
	color: #e03d0b;
	font-family:fuente1;
	text-align: center;
	background-color: rgb(243, 189, 10)
}

#logogit{
	width: 650px;
	position: center;
}

.multi2 img{
	width: 250px;
	position: center;
	
}	

#divmulti2html{
	margin: auto;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #F03

}

#divmulti3html{
	margin: auto;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgb(255, 102, 0)
}

.imagengiro:hover{
	transition:1,5s;
	transform:rotate(360deg);
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  
  .imagengiro2:hover{
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}
  
  
.divScroll{
    overflow-y:scroll;
    height:100%;
    width:100%;
}